<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
        <style>
                #contain{width: 30rem;height: 30rem;margin-left: 30%; }
                legend{font-size: 3rem;margin-left: 5rem;}
                form{margin: 3rem;padding-left: 5rem;}
            </style>
    
   
<div id="contain">
    <fieldset>
        <legend class="legendarydojo">Dojo Survey</legend>
        
           
                
        <%= "Thanks " + result.name + " for submitting your survey!" %>
        <% if (result.name == ""  || result.location == ""  || result.language == "" ) { %>
    <%= "It looks like you missed a few fields tho..." %>
    <%} %>
        <ul>
              
                <li> Name: <%=result.name %>  </li>
                <li> Language: <%=result.language %>  </li>
                <li> Location: <%=result.location %>  </li>
                <% if (result.comment != "") { %>
                <li> Comment: <%=result.comment %>  </li>
                <%} %>
                <% if (result.comment === "") { %>
                    <li> Comment: <p style="color: red;">No comment</p> </li>
                <%} %>
                
              
        </ul>
   
        
        <a href="/back/<%=result.id%>"><button>Go Back</button></a>
        <a href="/clear"><button>clear session</button></a>
   
    </fieldset>
    </div>

    <div id="contain"style="margin-top:-12rem;">
        <fieldset>
            <legend class="legendarydojo">Results w/ Loop</legend>
            <%= "Thanks " + result.name + " for submitting your survey!" %>
            <% if (result.name == ""  || result.location == ""  || result.language == "" ) { %>
        <%= "It looks like you missed a few fields tho..." %>
        <%} %>
        
            <% for(var thing in result) { %>  
                <ul>  
               <li>  <%= thing %>:  <%=result[thing] %>
                <% if (thing === "comment" && result[thing] === "") { %>
                    <p style="color: red;">No comment</p> 
               <%} %>
              </li>
                  </ul>
            <% } %>
        </fieldset>
    </div>
</body>
</html>